.head {

    }

/*form {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

.form-group {
    display: flex;
    align-items: center;
    padding: 10px;
}

/*form label {*/
/*    width: 100px;*/
/*    margin-right: 5px;*/
/*}*/

/*form input {*/
/*    margin-right: 5px;*/
/*}*/

/*button {*/
/*    height: 30px;*/
/*    width: 70px;*/
/*}*/
